{% extends 'base.html' %}
{% block content %}
<section id="about">
            <div class="container">

                <div class="section-heading scrollpoint sp-effect3">
                    <h1>О нас</h1>
                    <div class="divider"></div>
                    <p>Большая инженерная компания</p>
                </div>

                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-6">
                        <div class="about-item scrollpoint sp-effect2">
                            <a href="/about" role="button"><i class="fa fa-expand fa-2x"></i></a>
                            <h3>Большая компания</h3>
                            <p>Офисы компании работают в 4 городах России::
								Москва,
								Санкт-Петербург,
								Новосибирск,
								Красноярск
							</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-6" >
                        <div class="about-item scrollpoint sp-effect5">
                            <a href="/about" role="button"><i class="fa fa-angle-double-up fa-2x"></i></a>
                            <h3>Опыт 9-и лет</h3>
                            <p>Вентиляционные системы - это сложные инженерные объекты требующие колоссального  опыты и квалификации</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-6" >
                        <div class="about-item scrollpoint sp-effect5">
                            <a href="/about" role="button"><i class="fa fa-certificate fa-2x"></i></a>
                            <h3>Менеджмент качества</h3>
                            <p>Работает по стандартам качества ISO9001, располагаем всем спектром лицензий и допусков на проведения работ</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-6" >
                        <div class="about-item scrollpoint sp-effect1">
                            <a href="/about" role="button"><i class="fa fa-cubes fa-2x"></i></a>
                            <h3>Ресурс</h3>
                            <p>Собственная производственная база и поставщики оборудования, в том числе импортного производства</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>


<section id="reviews">
            <div class="container">
                <div class="section-heading inverse scrollpoint sp-effect3">
                    <h1>Услуги</h1>
                    <div class="divider"></div>
                    <p>Услуги большой компании</p>
                </div>


  <div class="row">


	  				<div class="col-md-4 col-sm-3 col-xs-6 sp-effect3">

                            <li class="servis"><a href="/diagnostics">Диагностика неисправностей систем вентиляции</a></li>
							<li class="servis"><a href="/service">Обслуживание вентиляционных установок</a></li>

                    </div>

	  <div class="col-md-4 col-sm-3 col-xs-6 sp-effect3">
                        <div>


							<li class="servis"><a href="/clear">Очистка от пылевых и жировых загрязнений</a></li>
							<li class="servis"><a href="/check">Проверка эффективности систем вентиляции</a></li>

                        </div>
                    </div>

	  <div class="col-md-4 col-sm-3 col-xs-6 sp-effect3">
                        <div>


							<li class="servis"><a href="/passport">Паспортизация вентиляционных систем</a></li>
							<li class="servis"><a href="/start">Пусконаладочные работы в системах вентиляции</a></li>

                        </div>
                    </div>



  </div>
</div>
</section>


<section id="features">
            <div class="container">
                <div class="section-heading scrollpoint sp-effect3">
                    <h1>Сертификаты и допуски</h1>
                    <div class="divider"></div>
                    <p>Допуски на все виды работ и гостайну</p>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-4 scrollpoint sp-effect1">
                        <div class="media text-right feature">
                            <a class="pull-right" href="/certificate">
                                <i class="fa fa-certificate fa-2x"></i>
                            </a>
                            <div class="media-body">
                                <h3 class="media-heading">Аттестация ЭЛ-017</h3>

                            </div>
                        </div>
                        <div class="media text-right feature">
                            <a class="pull-right" href="/certificate">
                                <i class="fa fa-bolt fa-2x"></i>
                            </a>
                            <div class="media-body">
                                <h3 class="media-heading">Лицензия ЭТЛ 220 кВ</h3>

                            </div>
                        </div>
                        <div class="media text-right feature">
                            <a class="pull-right" href="/certificate">
                                <i class="fa fa-asterisk fa-2x"></i>
                            </a>
                            <div class="media-body">
                                <h3 class="media-heading">Лицензия МЧС</h3>

                            </div>
                        </div>
                        <div class="media text-right feature">
                            <a class="pull-right" href="/certificate">
                                <i class="fa fa-sun-o fa-2x"></i>
                            </a>
                            <div class="media-body">
                                <h3 class="media-heading">Эксплуатация ядерных установок</h3>

                            </div>
                        </div>
                        <div class="media text-right feature">
                            <a class="pull-right" href="/certificate">
                                <i class="fa fa-sun-o fa-2x"></i>
                            </a>
                            <div class="media-body">
                                <h3 class="media-heading">Лицензия - право на эксплуатацию ядерных установок</h3>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4" >
                        <img src="/static/assets/img/freeze/iphone-freeze.png" class="img-responsive scrollpoint sp-effect5" alt="">
                    </div>
                    <div class="col-md-4 col-sm-4 scrollpoint sp-effect2">
                        <div class="media feature">
                            <a class="pull-left" href="/certificate">
                                <i class="fa fa-sun-o fa-2x"></i>
                            </a>
                            <div class="media-body">
                                <h3 class="media-heading">Лицензия- право на сооружение ядерных установок</h3>

                            </div>
                        </div>
                        <div class="media feature">
                            <a class="pull-left" href="/certificate">
                                <i class="fa fa-file-text-o  fa-2x"></i>
                            </a>
                            <div class="media-body">
                                <h3 class="media-heading">ИСО РусЭнергоСтрой </h3>

                            </div>
                        </div>
                        <div class="media feature">
                            <a class="pull-left" href="/certificate">
                                <i class="fa fa-compass fa-2x"></i>
                            </a>
                            <div class="media-body">
                                <h3 class="media-heading">СРО ОПиТС СМР </h3>

                            </div>
                        </div>
                        <div class="media feature">
                            <a class="pull-left" href="/certificate">
                                <i class="fa fa-file-text-o  fa-2x"></i>
                            </a>
                            <div class="media-body">
                                <h3 class="media-heading">Лицензия качества ISO</h3>

                            </div>
                        </div>
                        <div class="media active feature">
                            <a class="pull-left" href="/certificate">
                                <i class="fa fa-lock fa-2x"></i>
                            </a>
                            <div class="media-body">
                                <h3 class="media-heading">Допуск ФСБ</h3>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>






        <section id="demo">
            <div class="container">
                <div class="section-heading scrollpoint sp-effect3">
                    <h1>Профит</h1>
                    <div class="divider"></div>
                    <p>Наглядно о нашей работе</p>
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 scrollpoint sp-effect2">
                        <div class="video-container" >

							<iframe src="https://player.vimeo.com/video/472152805?h=330d13d532" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>

                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="getApp">
            <div class="container-fluid">
                <div class="section-heading inverse scrollpoint sp-effect3">
                    <h1>Вентиляционные системы</h1>
                    <div class="divider"></div>
                    <p>Качественная воздушная экосреда вашего предприятия - наша забота</p>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="hanging-phone scrollpoint sp-effect2 hidden-xs">
                            <img src="/static/assets/img/freeze/freeze-angled2.png" alt="">
                        </div>
                        <div class="platforms">
                            <a href="/faq" class="btn btn-primary inverse scrollpoint sp-effect1">
                                <i class="fa fa-user fa-3x pull-left"></i>
                                <span>Советы</span><br>
                                <b>мастеров</b>
                            </a>

                        </div>

                    </div>
                </div>
            </div>
        </section>
{% endblock %}